﻿body
{
    font-family: Arial;
    font-size: 12px;
    color: #354751;
    background-color: #444444;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

input, textarea, table, tr, td, div, span, th, button
{
    font-size: 12px;
}

a
{
    color: #354751;
}

a:hover
{
    color: #b36808;
}



.ControlAlert
{
    background-color: #FF5353; /* 	outline: solid 1px red; 	border-color: #ff5353; 	border: solid 1px #ff5353; 	*/
}

.PanelContent
{
    border: solid 2px #000000;
    background-color: #e7e8e0;
}

.PanelSystem
{
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    margin: 3px 3px 0px 3px;
}

.PanelInfo
{
    padding: 5px 5px 5px 5px;
    background-color: #f2f3f0;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    font-weight: bold;
    font-size: 110%;
}

.PanelMenu
{
    padding: 2px 2px 2px 2px;
    background-color: #FDFDFD;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
}

.PanelPlaceHolder
{
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
}

.PanelPlaceHolderMini
{
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
}



.MenuItemStyle
{
    background: #f2f3f0 url('Images/MenuItemBackGround.gif') repeat-x;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    padding: 4px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 110%;
}

.MenuSubItemStyle
{
    background: #FDFDFD url('Images/MenuSubItemBackGround.gif') repeat-x;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    padding: 4px 2px 2px 2px;
    cursor: pointer;
    color: #354751;
}

.MenuItemStyleHover
{
    background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
}

.MenuItemStyleSelected
{
    background: #f5dc83 url('Images/MenuSelectedBackGround.gif') repeat-x;
}



.Grid
{
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-collapse: collapse;
}

.GridHeader
{
    /*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
    background-color: #E0E2DC;
}

.GridHeader td, .GridHeader th
{
    border: solid 1px #6b6b6b;
    color: #222222;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    text-align: left;
    vertical-align: bottom;
}

.GridHeader td td, .GridHeader th th
{
    border: none;
    color: #354751;
    font-weight: normal;
    padding: 0px;
    text-align: left;
}

.GridFooter
{
    /*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
    background-color: #E0E2DC;
}

.GridFooter td, .GridFooter th
{
    border: solid 1px #6b6b6b;
    color: #222222;
    padding: 2px 2px 2px 2px;
    text-align: left;
    vertical-align: bottom;
}

.GridFooter td td, .GridFooter th th
{
    border: none;
    color: #354751;
    padding: 0px;
    text-align: left;
}

.GridPaging
{
    background-color: #EAEBE7;
}

.GridPaging td, .GridPaging th
{
    border: solid 1px #6b6b6b;
    color: #222222;
    padding: 2px 2px 2px 2px;
    text-align: left;
}

.GridPaging td td, .GridPaging th th
{
    border: none;
    color: #354751;
    padding: 0px;
    text-align: left;
}

.GridItem
{
    background-color: #F9F9F7;
}

.GridItem td
{
    border: solid 1px #bbbbbb;
    border-bottom: solid 1px #777777;
    padding: 2px 2px 2px 2px;
}

.GridItem td td
{
    border: none;
    padding: 0px;
}

.GridAlternatingItem
{
    background-color: #F5F5F1;
}

.GridAlternatingItem td
{
    border: solid 1px #bbbbbb;
    border-bottom: solid 1px #777777;
    padding: 2px 2px 2px 2px;
}

.GridAlternatingItem td td
{
    border: none;
    padding: 0px;
}

.GridItem:hover, .GridAlternatingItem:hover, .GridGroupItem:hover
{
    /*background-color: #c8c8c8;*/
    background: #fee69e;
}

.GridGroupItem
{
    background-color: #E9E9E0;
}

.GridGroupItem td
{
    border: solid 1px #bbbbbb;
    border-bottom: solid 2px #6b6b6b;
    padding: 6px 2px 2px 2px;
    font-weight: bold;
}

.GridGroupItem td td
{
    border: none;
    padding: 0px;
    font-weight: normal;
}



.LogicBlockCaptionMini
{
    margin-top: 1px;
    padding: 1px 1px 1px 1px;
    border: none;
    font-size: 90%;
    font-weight: bold;
}

.LogicBlockCaption
{
    margin-top: 4px;
    padding: 3px 3px 3px 3px;
    border: none;
    font-size: 110%;
    font-weight: bold;
}

.LogicBlockCaptionCollapsible
{
    background: #FDFDFD url('Images/MenuSubItemBackGround.gif') repeat-x;
    margin-top: 4px;
    padding: 3px 3px 3px 3px;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    font-size: 110%;
    font-weight: bold;
    cursor: pointer;
}

.LogicBlockCaptionCollapsible:hover
{
    background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
}

.LogicBlockCaptionCollapsed
{
    background: #f2f3f0 url('Images/MenuItemBackGround.gif') repeat-x;
    margin-top: 4px;
    padding: 3px 3px 3px 3px;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    font-size: 110%;
    font-weight: bold;
    cursor: pointer;
}

.LogicBlockCaptionCollapsed:hover
{
    background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
}

.LogicBlock
{
    padding: 2px 2px 2px 2px;
    background-color: #FDFDFD;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
}

.LogicBlockTable
{
    background-color: #FDFDFD;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-collapse: collapse;
}

.LogicBlockTable tbody tr th, .LogicBlockTable thead tr td
{
    border: solid 1px #6b6b6b;
    color: #222222;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    text-align: left;
}

.LogicBlockTable tbody tr th th, .LogicBlockTable thead tr td td
{
    /*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
    border: none;
    color: #354751;
    font-weight: normal;
    padding: 0px;
    text-align: left;
}

.LogicBlockTable tbody tr td
{
    border: solid 1px #dddddd;
    padding: 2px 2px 2px 2px;
}

.LogicBlockTable tbody tr td td
{
    background-color: transparent;
    border: none;
    padding: none;
}

.LogicBlockTable tfoot tr td
{
    background: #f3f4f6 url('Images/MenuSubItemBackGround.gif') repeat-x;
    border: solid 1px #d6d6d6;
    color: #354751;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    text-align: left;
}

.LogicBlockTable tfoot tr td td
{
    background: none;
    border: none;
    color: #354751;
    font-weight: normal;
    padding: 0px;
    text-align: left;
}



.LinkButton
{
    padding: 0px 1px 0px 1px;
}

.LinkButton:hover
{
    background-color: #ffffff;
}

.TextBox
{
    font-family: Arial;
    color: #354751;
}

.Button
{
    background: #f2f3f0 url('Images/MenuItemBackGround.gif') repeat-x;
    border-bottom: solid 1px #888888;
    border-right: solid 1px #888888;
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
    font-weight: bold;
}

.Button:hover
{
    background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
}

.DropDownList
{
    font-family: Arial;
    color: #354751;
}

.CheckBox
{
    font-family: Arial;
    color: #354751;
}



.ModalBackground
{
    background-color: #6b6b6b;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 555;
}

.ResizableHandle
{
    width: 16px;
    height: 16px;
    background-image: url(Images/ResizableHandleGrip.gif);
    overflow: hidden;
    cursor: se-resize;
}



.TabContainer .ajax__tab_header
{
    background: url(Images/TabContainerLine.gif) repeat-x bottom;
}

.TabContainer .ajax__tab_outer
{
}

.TabContainer .ajax__tab_inner
{
}

.TabContainer .ajax__tab_tab
{
    background: #f3f4f6 url('Images/TabContainerLine.gif') repeat-x bottom;
    border-left: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
    border-top: solid 1px #d6d6d6;
    font-weight: bold;
    padding: 2px;
    color: #354751;
}

.TabContainer .ajax__tab_body
{
    background: #f3f4f6;
    padding: 2px;
    color: #354751;
    border-left: solid 1px #d6d6d6;
    border-right: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
}

.TabContainer .ajax__tab_hover .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
    background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
    color: #b36808;
}

.TabContainer .ajax__tab_active .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
    background-image: none;
    color: #b36808;
}

.ReorderList ul
{
    padding: 0px;
    margin: 0px;
}

.ReorderList li
{
    list-style: none;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.ReorderListItem
{
    width: 100%;
    border: solid 1px #888888;
    background-color: #ffffff;
}

.inventory-structure
{
    background-image: url('Images/Help.gif');
    background-repeat: no-repeat;
    cursor: pointer;
    width: 16px;
    height: 16px;
    float: left;
}