﻿body
{
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

a
{
	color: #000000;
	text-decoration: none;
}

a:hover
{
	color: #444444;
}



.PanelContent
{
	border: solid 2px transparent;
}

.PanelSystem
{
	border-bottom: solid 2px transparent;
	padding: 0px;
	font-weight: bold;
}

.PanelInfo
{
	border: solid 1px transparent;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
	font-size: 14px;
}

.PanelMenu
{
	padding: 2px 2px 2px 2px;
	border: solid 1px transparent;
}

.PanelPlaceHolder
{
	padding: 2px 2px 2px 2px;
	border: solid 1px transparent;
}

.PanelPlaceHolderMini
{
	padding: 2px 2px 2px 2px;
	border: solid 1px transparent;
}



.MenuItemStyle
{
	border: solid 1px transparent;
	padding: 1px 2px 3px 2px;
	font-weight: bold;
}

.MenuSubItemStyle
{
	border: solid 1px transparent;
	padding: 1px 2px 3px 2px;
}

.MenuItemStyleHover
{
	border: solid 1px transparent;
	padding: 1px 2px 3px 2px;
}

.MenuItemStyleSelected
{
	border: solid 1px transparent;
	padding: 1px 2px 3px 2px;
}



.Grid
{
	border: solid 1px #6b6b6b;
	border-collapse: collapse;
}

.GridHeader
{
	background-color: #f8f8f8;
}

.GridHeader > td, .GridHeader > th
{
	border: solid 1px #6b6b6b;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.GridPaging
{
	background-color: #fcfcfc;
}

.GridPaging > td, .GridPaging > th
{
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.GridItem
{
	background-color: #fcfcfc;
}

.GridItem > td
{
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
}

.GridAlternatingItem
{
	background-color: #fcfcfc;
}

.GridAlternatingItem > td
{
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
}

.GridGroupItem
{
	background-color: #fafafa;
}

.GridGroupItem > td
{
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
}



.LogicBlockCaptionMini
{
	margin-top: 1px;
	border: solid 1px transparent;
	font-size: 80%;
	font-weight: bold;
}

.LogicBlockCaption
{
	margin-top: 4px;
	padding: 2px 2px 2px 2px;
	border: solid 1px transparent;
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsible
{
	margin-top: 4px;
	padding: 2px 2px 2px 2px;
	border: solid 1px transparent;
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsible:hover
{
	border: solid 1px transparent;
	cursor: pointer;
}

.LogicBlockCaptionCollapsed
{
	margin-top: 4px;
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsed:hover
{
	border: solid 1px #ffab40;
	cursor: pointer;
}

.LogicBlock
{
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable
{
	border: solid 1px #6b6b6b;
	border-collapse: collapse;
}

.LogicBlockTable > tbody > tr > th, .LogicBlockTable > thead > tr > td
{
	background-color: #f8f8f8;
	border: solid 1px #6b6b6b;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.LogicBlockTable > tbody > tr > td
{
	background-color: #fcfcfc;
	border: sollid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable > tfoot > tr > td
{
	border: solid 1px #d6d6d6;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}



.TextBox
{
	font-family: Arial;
	font-size: 12px;
}

.Button
{
	border: solid 1px #6b6b6b;
	padding: 1px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.Button:hover
{
	border: solid 1px #ffd766;
	padding: 1px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.DropDownList
{
	font-family: Arial;
	font-size: 12px;
}

.CheckBox
{
	font-family: Arial;
	font-size: 12px;
}



.ModalBackground
{
	background-color: #6b6b6b;
	filter: alpha(opacity=70);
	opacity: 0.7;
 	z-index: 555;
}

.ResizableHandle
{
	width: 16px;
	height: 16px;
	background-image: url(Images/ResizableHandleGrip.gif);
	overflow: hidden;
	cursor: se-resize;
}



.TabContainer .ajax__tab_header
{
	background: url(Images/TabContainerLine.gif) repeat-x bottom;
}

.TabContainer .ajax__tab_outer 
{

}

.TabContainer .ajax__tab_inner 
{

}

.TabContainer .ajax__tab_tab
{
	background: #f3f4f6 url('Images/TabContainerLine.gif') repeat-x bottom;
	border-left: solid 1px #d6d6d6;
	border-right: solid 1px #d6d6d6;
	border-top: solid 1px #d6d6d6;
	font-weight: bold;
	padding: 2px;
	color: #354751;
}

.TabContainer .ajax__tab_body 
{
	background: #f3f4f6;
	padding: 2px;
	color: #354751;
	border-left: solid 1px #d6d6d6;
	border-right: solid 1px #d6d6d6;
	border-bottom: solid 1px #d6d6d6;
}

.TabContainer .ajax__tab_hover .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	color: #b36808;
}

.TabContainer .ajax__tab_active .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
	background-image: none;
	color: #b36808;
}

.ReorderList ul
{
	padding: 0px;
	margin: 0px;
}

.ReorderList li
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.ReorderListItem
{
	width: 100%;
	border: solid 1px #888888;
	background-color: #ffffff;
}