﻿<%@ Page Language="vb" AutoEventWireup="true" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head runat="server">
    <title>eqNet2008 Silverlight</title>
</head>
<body style="height: 100%; margin: 0;">
    <form id="form1" runat="server" style="height: 100%;">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div style="height: 100%;">
        <Silverlight ID="Xaml1" runat="server" Source="~/Silverlight/SilverlightApplication.xap"
            MinimumVersion="2.0.31005.0" Width="100%" Height="100%" HtmlAccess="Enabled"
            InitParameters="key1=value1,key2=value2" />
        <%
            'Page.ClientScript.RegisterStartupScript(Me.GetType, "focus", String.Format("document.getElementById('{0}').focus();", Xaml1.ClientID), True)
        %>
    </div>
    </form>
</body>
</html>
