﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="GR_CURRENCY_CL.ascx.vb"
    Inherits="WebApplication.GR_CURRENCY_CL" Explicit="true" %>
<table style="width: 700px;">
    <colgroup>
        <col width="150px" />
        <col />
    </colgroup>
    <tr>
        <%--<td>
            Код
        </td>
        <td>
            <eq:eqTextBox ID="NUM" runat="server" Height="30px" Width="185px"></eq:eqTextBox>
        </td>--%>
        <td>
            Название
        </td>
        <td>
            <eq:eqTextBox ID="NAME" runat="server" Height="30px" Width="185px"></eq:eqTextBox>
        </td>
    </tr>
</table>
