﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="PrintForm.aspx.vb" Inherits="WebApplication.PrintForm"
    Theme="PrintTheme" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>eqNet</title>
</head>
<body>
    <form id="form1" runat="server">
    <aj:ToolkitScriptManager ID="ToolkitScriptManagerDefault" runat="server" EnableScriptGlobalization="true"
        ScriptMode="Release" EnablePartialRendering="True" />
    <asp:UpdatePanel ID="UpdatePanelContentPlaceHolder" runat="server" UpdateMode="Conditional" RenderMode="Inline">
        <ContentTemplate>
            <asp:PlaceHolder ID="ContentPlaceHolder" runat="server" />
        </ContentTemplate>
    </asp:UpdatePanel>
    </form>
</body>
</html>
