﻿body
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
	background-color: #666666;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

a
{
	color: #354751;
}

a:hover
{
	color: #b36808;
}



.PanelContent
{
	background-color: #ffffff;
	border: solid 2px #444444;
	min-width: 700px;
}

.PanelSystem
{
	background: #c1dbff url('Images/MenuItemBackGround.gif') repeat-x;
	border-bottom: solid 2px #acd1fe;
	padding: 0px;
	color: #22658b;
	font-weight: bold;
}

.PanelInfo
{
	background: #c1dbff url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #acd1fe;
	padding: 2px;
	color: #22658b;
	font-weight: bold;
	font-size: 14px;
}

.PanelMenu
{
	padding: 2px 2px 2px 2px;
	background-color: #c1dbff;
	border: solid 1px #acd1fe;
}

.PanelPlaceHolder
{
	padding: 2px;
	background-color: #e3efff;
	border: solid 1px #c1dbff;
}

.PanelPlaceHolderMini
{
	padding: 2px;
	background-color: #e0e6f6;
	border: solid 1px #c1dbff;
}



.MenuItemStyle
{
	background: #c1dbff url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #acd1fe;
	padding: 2px 2px 4px 2px;
	color: #22658b;
	font-weight: bold;
}

.MenuSubItemStyle
{
	background: #f3f4f6 url('Images/MenuSubItemBackGround.gif') repeat-x;
	border: solid 1px #d6d6d6;
	padding: 2px 2px 4px 2px;
	color: #22658b;
}

.MenuItemStyleHover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	border: solid 1px #ffd766;
	padding: 2px 2px 4px 2px;
	color: #b36808;
}

.MenuItemStyleSelected
{
	background: #fee17b url('Images/MenuSelectedBackGround.gif') repeat-x;
	border: solid 1px #ffab40;
	padding: 2px 2px 4px 2px;
	color: #b36808;
}



.Grid
{
	border: solid 1px #acd1fe;
	border-collapse: collapse;
}

.GridHeader
{
	background-color: #e7e7e7;
}

.GridHeader td, .GridHeader th
{
	border: solid 1px #aaaaaa;
	color: #222222;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.GridHeader td td, .GridHeader th th
{
	border: none;
	color: #354751;
	font-weight: normal;
	padding: 0px;
	text-align: left;
}

.GridPaging
{
	background-color: #d8d8d8;
}

.GridPaging td, .GridPaging th
{
	color: #222222;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.GridPaging td td, .GridPaging th th
{
	color: #354751;
	padding: 0px;
	text-align: left;
}

.GridItem
{
	background-color: #f6f7f8;
}

.GridItem td
{
	border: dotted 1px #aaaaaa;
	padding: 2px 2px 2px 2px;
}

.GridItem td td
{
	border: none;
	padding: 0px;
}

.GridAlternatingItem
{
	background-color: #f0f1f2;
}

.GridAlternatingItem td
{
	border: dotted 1px #aaaaaa;
	padding: 2px 2px 2px 2px;
}

.GridAlternatingItem td td
{
	border: none;
	padding: 0px;
}

.GridGroupItem
{
	background-color: #e0e0e0;
}

.GridGroupItem td
{
	border: dotted 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
}

.GridGroupItem td td
{
	border: none;
	padding: 0px;
	font-weight: normal;
}



.LogicBlockCaptionMini
{
	margin-top: 1px;
	/*border: solid 1px none;*/
	padding: 1px 1px 1px 1px;
	font-size: 80%;
	font-weight: bold;
}

.LogicBlockCaption
{
	margin-top: 4px;
	padding: 3px 3px 3px 3px;
	/*border: solid 1px none;*/
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsible
{
	margin-top: 4px;
	padding: 3px 3px 3px 3px;
	/*border: solid 1px transparent;*/
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsible:hover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	padding: 2px 2px 2px 2px;
	border: solid 1px #ffd766;
	color: #b36808;
	cursor: pointer;
}

.LogicBlockCaptionCollapsed
{
	margin-top: 4px;
	background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #6b6b6b;
	color: #ffffff;
	padding: 2px 2px 2px 2px;
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsed:hover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	border: solid 1px #ffd766;
	color: #b36808;
	cursor: pointer;
}

.LogicBlock
{
	background: #f3f4f6;
	border: solid 1px #d6d6d6;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable
{
	border: solid 1px #6b6b6b;
	border-collapse: collapse;
}

.LogicBlockTable tbody tr th, .LogicBlockTable thead tr td
{
	background: #c1dbff url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #aaaaaa;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.LogicBlockTable tbody tr th th, .LogicBlockTable thead tr td td
{
	background: none;
	border: none;
	color: #354751;
	font-weight: normal;
	padding: 0px;
	text-align: left;
}

.LogicBlockTable tbody tr td
{
	background-color: #f0f1f2;
	border: dotted 1px #aaaaaa;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable tbody tr td td
{
	background-color: inherit;
	border: none;
	padding: 0px;
}

.LogicBlockTable tfoot tr td
{
	background-color: #f0f1f2;
	border: dotted 1px #aaaaaa;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable tfoot tr td td
{
	background-color: inherit;
	border: none;
	padding: 0px;
}



.TextBox
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
}

.Button
{
	background: #c1dbff url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #acd1fe;
	padding: 1px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

.Button:hover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	border: solid 1px #ffd766;
	padding: 1px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #b36808;
}

.DropDownList
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
}

.CheckBox
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
}



.ModalBackground
{
	background-color: #f3f4f6;
	filter: alpha(opacity=70);
	opacity: 0.7;
 	z-index: 555;
}
