﻿body
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
	background-color: #444444;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
}

a
{
	color: #354751;
}

a:hover
{
	color: #b36808;
}



.PanelContent
{
	background-color: #ffffff;
	border: solid 2px #000000;
}

.PanelSystem
{
	background-color: #6b6b6b;
	border-bottom: solid 2px #000000;
	padding: 0px;
	color: #ffffff;
	font-weight: bold;
}

.PanelInfo
{
	background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
}

.PanelMenu
{
	padding: 2px 2px 2px 2px;
	background-color: #d6d6d6;
	border: solid 1px #6b6b6b;
}

.PanelPlaceHolder
{
	padding: 2px 2px 2px 2px;
	background-color: #f3f4f6;
	border: solid 1px #d6d6d6;
}

.PanelPlaceHolderMini
{
	padding: 2px 2px 2px 2px;
	background-color: #eeeeee;
	border: solid 1px #d6d6d6;
}



.MenuItemStyle
{
	background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #6b6b6b;
	padding: 2px 2px 0px 2px;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
}

.MenuSubItemStyle
{
	background: #f3f4f6 url('Images/MenuSubItemBackGround.gif') repeat-x;
	border: solid 1px #d6d6d6;
	padding: 2px 2px 0px 2px;
	cursor: pointer;
	color: #354751;
}

.MenuItemStyleHover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	border: solid 1px #ffd766;
	padding: 2px 2px 0px 2px;
	cursor: pointer;
	color: #b36808;
}

.MenuItemStyleSelected
{
	background: #fee17b url('Images/MenuSelectedBackGround.gif') repeat-x;
	border: solid 1px #ffab40;
	padding: 2px 2px 0px 2px;
	cursor: pointer;
	color: #b36808;
}



.Grid
{
	border: solid 1px #6b6b6b;
	border-collapse: collapse;
}

.GridHeader
{
	/*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
	background-color: #d0d0d0;
}

.GridHeader td, .GridHeader th
{
	border: solid 1px #6b6b6b;
	color: #222222;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
	vertical-align: bottom;
}

.GridHeader td td, .GridHeader th th
{
	border: none;
	color: #354751;
	font-weight: normal;
	padding: 0px;
	text-align: left;
}

.GridFooter
{
	/*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
	background-color: #e0e0e0;
}

.GridFooter td, .GridFooter th
{
	border: solid 1px #6b6b6b;
	color: #222222;
	padding: 2px 2px 2px 2px;
	text-align: left;
	vertical-align: bottom;
}

.GridFooter td td, .GridFooter th th
{
	border: none;
	color: #354751;
	padding: 0px;
	text-align: left;
}

.GridPaging
{
	background-color: #d8d8d8;
}

.GridPaging td, .GridPaging th
{
	border: solid 1px #6b6b6b;
	color: #222222;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.GridPaging td td, .GridPaging th th
{
	border: none;
	color: #354751;
	padding: 0px;
	text-align: left;
}

.GridItem
{
	background-color: #f0f0f0;
}

.GridItem td
{
	border: solid 1px #bbbbbb;
	border-bottom: solid 1px #777777;
	padding: 2px 2px 2px 2px;
}

.GridItem td td
{
	border: none;
	padding: 0px;
}

.GridAlternatingItem
{
	background-color: #e8e8e8;
}

.GridAlternatingItem td
{
	border: solid 1px #bbbbbb;
	border-bottom: solid 1px #777777;
	padding: 2px 2px 2px 2px;
}

.GridAlternatingItem td td
{
	border: none;
	padding: 0px;
}

.GridItem:hover, .GridAlternatingItem:hover, .GridGroupItem:hover
{
	/*background-color: #c8c8c8;*/
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
}

.GridGroupItem
{
	background-color: #e0e0e0;
}

.GridGroupItem td
{
	border: solid 1px #bbbbbb;
	border-bottom: solid 2px #6b6b6b;
	padding: 6px 2px 2px 2px;
	font-weight: bold;
}

.GridGroupItem td td
{
	border: none;
	padding: 0px;
	font-weight: normal;
}



.LogicBlockCaptionMini
{
	margin-top: 1px;
	padding: 1px 1px 1px 1px;
	border: none;
	font-size: 80%;
	font-weight: bold;
}

.LogicBlockCaption
{
	margin-top: 4px;
	padding: 3px 3px 3px 3px;
	border: none;
	font-size: 120%;
	font-weight: bold;
}

.LogicBlockCaptionCollapsible
{
	margin-top: 4px;
	padding: 3px 3px 3px 3px;
	border: none;
	font-size: 120%;
	font-weight: bold;
	cursor: pointer;
}

.LogicBlockCaptionCollapsible:hover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	padding: 2px 2px 2px 2px;
	border: solid 1px #ffab40;
	color: #b36808;
}

.LogicBlockCaptionCollapsed
{
	margin-top: 4px;
	background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #6b6b6b;
	border-bottom: solid 1px blue;
	color: #ffffff;
	padding: 2px 2px 2px 2px;
	font-size: 120%;
	font-weight: bold;
	cursor: pointer;
}

.LogicBlockCaptionCollapsed:hover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	border: solid 1px #ffab40;
	color: #b36808;
}

.LogicBlock
{
	background: #e8e8e8;
	border: solid 1px #6b6b6b;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable
{
	border: solid 1px #6b6b6b;
	border-collapse: collapse;
}

.LogicBlockTable tbody tr th, .LogicBlockTable thead tr td
{
	background-color: #d0d0d0;
	/*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
	border: solid 1px #6b6b6b;
	color: #222222;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.LogicBlockTable tbody tr th th, .LogicBlockTable thead tr td td
{
	background-color: #d0d0d0;
	/*background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;*/
	border: none;
	color: #354751;
	font-weight: normal;
	padding: 0px;
	text-align: left;
}

.LogicBlockTable tbody tr td
{
	background-color: #e8e8e8;
	border: solid 1px #dddddd;
	padding: 2px 2px 2px 2px;
}

.LogicBlockTable tbody tr td td
{
	background-color: transparent;
	border: none;
	padding: none;
}

.LogicBlockTable tfoot tr td
{
	background: #f3f4f6 url('Images/MenuSubItemBackGround.gif') repeat-x;
	border: solid 1px #d6d6d6;
	color: #354751;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	text-align: left;
}

.LogicBlockTable tfoot tr td td
{
	background: none;
	border: none;
	color: #354751;
	font-weight: normal;
	padding: 0px;
	text-align: left;
}



.LinkButton
{
	padding: 0px 1px 0px 1px;
}

.LinkButton:hover
{
	background-color: #ffffff;
}

.TextBox
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
}

.Button
{
	background: #6b6b6b url('Images/MenuItemBackGround.gif') repeat-x;
	border: solid 1px #6b6b6b;
	padding: 1px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}

.Button:hover
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	border: solid 1px #ffd766;
	padding: 1px 0px 0px 0px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #b36808;
}

.DropDownList
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
}

.CheckBox
{
	font-family: Arial;
	font-size: 12px;
	color: #354751;
}



.ModalBackground
{
	background-color: #6b6b6b;
	filter: alpha(opacity=70);
	opacity: 0.7;
 	z-index: 555;
}

.ResizableHandle
{
	width: 16px;
	height: 16px;
	background-image: url(Images/ResizableHandleGrip.gif);
	overflow: hidden;
	cursor: se-resize;
}



.TabContainer .ajax__tab_header
{
	background: url(Images/TabContainerLine.gif) repeat-x bottom;
}

.TabContainer .ajax__tab_outer 
{

}

.TabContainer .ajax__tab_inner 
{

}

.TabContainer .ajax__tab_tab
{
	background: #f3f4f6 url('Images/TabContainerLine.gif') repeat-x bottom;
	border-left: solid 1px #d6d6d6;
	border-right: solid 1px #d6d6d6;
	border-top: solid 1px #d6d6d6;
	font-weight: bold;
	padding: 2px;
	color: #354751;
}

.TabContainer .ajax__tab_body 
{
	background: #f3f4f6;
	padding: 2px;
	color: #354751;
	border-left: solid 1px #d6d6d6;
	border-right: solid 1px #d6d6d6;
	border-bottom: solid 1px #d6d6d6;
}

.TabContainer .ajax__tab_hover .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
	background: #fee69e url('Images/MenuHoverBackGround.gif') repeat-x;
	color: #b36808;
}

.TabContainer .ajax__tab_active .ajax__tab_outer .ajax__tab_inner .ajax__tab_tab
{
	background-image: none;
	color: #b36808;
}

.ReorderList ul
{
	padding: 0px;
	margin: 0px;
}

.ReorderList li
{
	list-style: none;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.ReorderListItem
{
	width: 100%;
	border: solid 1px #888888;
	background-color: #ffffff;
}