﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="WebApplication.eqRolesButtonsMatrix"
    CodeBehind="eqRolesButtonsMatrix.ascx.vb" %>
<table>
    <tr>
        <td>
            <p>
                Роль</p>
        </td>
        <td>
            <asp:TextBox ID="RoleName" runat="server" Width="500px" />
        </td>
    </tr>
    <tr>
        <td>
            <p>
                Описание</p>
        </td>
        <td>
            <asp:TextBox ID="Description" runat="server" Width="500px" />
        </td>
    </tr>
    <tr>
        <td>
            <p>
                Тип документа</p>
        </td>
        <td>
            <asp:DropDownList ID="FieldDocTypeID" runat="server" AutoPostBack="true" />
        </td>
    </tr>
</table>
<p>
</p>
<asp:Table ID="ddddd" runat="server" />
<table>
    <tr>
        <td>
            <asp:CheckBox ID="cbxHiddenSmpl" runat="server" Checked="true"/>
        </td>
        <td>
            <p>
                Кнопка скрыта</p>
        </td>
    </tr>
</table>
<asp:Button ID="tbnTest" runat="server" Text="Postback" Visible="false" />
<asp:Button ID="fffff" runat="server" Text="Save" Visible="false" />
<p>
</p>
<asp:Table ID="TRolesToolBarDenied" runat="server"  GridLines="Both" BorderStyle ="Dotted" BorderWidth ="1px" BorderColor="Blue"  />
