﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="GR_OWNER.ascx.vb" Inherits="WebApplication.GR_OWNER"
    Explicit="true" %>
<table style="width: 700px;">
    <colgroup>
        <col width="150px" />
        <col />
    </colgroup>
    <tr>
        <td>
            Статус
        </td>
        <td>
            <asp:DropDownList ID="ID_STATUS" runat="server">
            </asp:DropDownList>
        </td> 
        <td>
            Название
        </td>
        <td>
            <eq:eqTextBox ID="NAME" runat="server" Height="30px" Width="185px"></eq:eqTextBox>
        </td>
        <td>
            Аббревиатура
        </td>
        <td>
            <eq:eqTextBox ID="ABBREVIATION" runat="server" Height="30px" Width="185px"></eq:eqTextBox>
        </td>
        <td>
            <eq:eqTextBox ID="ID" runat="server" Height="30px" Width="185px" Visible ="False"></eq:eqTextBox>
        </td>
       <%-- <td>
            Вид
        </td>
        <td>
            <asp:DropDownList ID="ISN_OWNER_KIND" runat="server">
            </asp:DropDownList>
        </td>--%>
    </tr>
</table>
