﻿<%@ Control Language="VB" AutoEventWireup="false" Inherits="WebApplication.eqRolesAreasList" Codebehind="eqRolesAreasList.ascx.vb" %>

<table>
<tr>
<td><p>Роль</p></td>
<td><asp:TextBox ID="RoleName" runat="server" width="500px" /></td>
</tr>
<tr>
<tr>
<td><p>Описание</p></td>
<td><asp:TextBox ID="Description" runat="server" width="500px" /></td>
</tr>
<tr>
<td><p>Тип документа</p></td>
<td><asp:DropDownList ID="FieldDocTypeID" runat="server" AutoPostBack="true" /></td>
</tr>
</table>
<p></p>
<asp:Table ID="ddddd" runat ="server" />
<table >
<tr ><td><asp:CheckBox ID="cbxHiddenSmpl" runat="server" BackColor="BlueViolet" Checked="true"/> </td> <td><p>Скрыто</p></td></tr>
<tr ><td><asp:CheckBox ID="cbxDisableSmpl" runat="server" BackColor="Gray" Checked="true"/> </td> <td><p>Недоступно для изменения</p></td></tr>
<tr ><td><asp:CheckBox ID="cbxCollapsedSmpl" runat="server" BackColor="Green" Checked="true"/> </td> <td><p>Свернуть</p></td></tr>
<tr ><td><asp:CheckBox ID="cbxPrioritySmpl" runat="server" BackColor="Red" Checked="true"/> </td> <td><p>Приоритет</p></td></tr>
</table>
<asp:Button ID="tbnTest" runat="server" Text="Postback" Visible ="false"/>
<p></p>
<asp:Table ID="TblDocAreasListSpec" runat="server"   GridLines="Both" BorderStyle ="Dotted" BorderWidth ="1px" BorderColor="Blue"  />